@charset "utf-8";
$main-color: #0B1632;
$text-color: #F9EFE1;
$darkBeige: #C4B093;
$gold: #C88C39;

body {
    background-color: $main-color;
    font-size: 16px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: $text-color;
}

img {
    display: block;
}


a,
button {
    cursor: none;
    /* ブラウザのデフォルトカーソルを非表示 */
}


/*ちょっと遅れてついてくるストーカー要素*/
#stalker {
    position: fixed;

    /*丸の大きさと色の指定*/
    width: 0.1em;
    height: 0.1em;
    border-radius: 100%;
    /*真ん中にくるようにマイナスマージンで調整*/
    z-index: 1;
    /*カーソルの後ろに来るように*/
    pointer-events: none;
    /*クリックできなくなるのを防ぐため。noneで対応*/
    opacity: 0;
    transition: transform 0.3s;
    /*アニメーションの秒数指定*/
}

#cursor.active,
#stalker.active {
    transform: scale(50);
    background: url(./images/cursor.png) no-repeat center/cover;
}


.bounce-wrapper {
    width: 100vw;
    height: 100vh;
    border: 1px solid $main-color;
    position: fixed;
    z-index: -1;

    #object {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        will-change: transform;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 50%;
        -ms-filter: blur(100px);
        opacity: 0.4;
        filter: blur(100px);
        background-color: $text-color;
        transform: translateX(-50%);

    }
}