@charset "utf-8";
$main-color: #0B1632;
$text-color: #F9EFE1;
$darkBeige: #C4B093;
$gold: #C88C39;

body {
    background-color: $main-color;
    font-size: 16px;
    font-family: "Zen Old Mincho", serif;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: $text-color;
}

img {
    display: block;
}


a {
    cursor: none;
    /* ブラウザのデフォルトカーソルを非表示 */
}

/*ちょっと遅れてついてくるストーカー要素*/
#stalker {
    position: fixed;

    /*丸の大きさと色の指定*/
    width: 0.1em;
    height: 0.1em;
    border-radius: 100%;
    /*真ん中にくるようにマイナスマージンで調整*/
    z-index: 1;
    /*カーソルの後ろに来るように*/
    pointer-events: none;
    /*クリックできなくなるのを防ぐため。noneで対応*/
    opacity: 0;
    transition: transform 0.3s;
    /*アニメーションの秒数指定*/
}

#cursor.active,
#stalker.active {
    transform: scale(60);
    background: url(./images/cursor.png) no-repeat center/cover;
}


.bounce-wrapper {
    width: 100vw;
    height: 100vh;
    border: 1px solid $main-color;
    position: fixed;
    z-index: -1;

    #object {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        will-change: transform;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 50%;
        -ms-filter: blur(100px);
        opacity: 0.4;
        filter: blur(100px);
        background-color: $text-color;
        transform: translateX(-50%);

    }
}

.firstView {
    position: relative;

    .mainVisual {
        max-width: 498px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -190px;
        position: relative;
        z-index: 0;
    }

    .logo {
        max-width: 88px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 4;
        top: 32px;
    }

    // .ground {
    //     background-color: $main-color;
    //     width: 100px;
    //     height: 20px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     position: relative;
    //     top: -145px;
    //     z-index: 0;
    // }

    .leftText {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-450px);

        p:first-child,
        p:nth-child(2) {
            background-color: $text-color;
            color: $main-color;
            font-size: 1.4rem;
            width: fit-content;
            padding: 0.2rem 0 0.2rem 0.5rem;
            font-weight: 400;

            span {
                font-weight: 600;
            }
        }

        p:nth-child(2) {
            padding-right: 1rem;
            margin-top: 0.5rem;
        }

        p:last-child {
            background-color: $main-color;
            color: $text-color;
            width: fit-content;
            margin-top: 0.8rem;
            padding: 4px 8px 4px 0px;
            font-size: 1rem;
            font-weight: 500;
        }
    }

    .rightText {
        position: absolute;
        top: 70%;
        right: 50%;
        transform: translateX(550px);
        font-family: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', sans-serif;

        p {
            background-color: $main-color;
            color: $text-color;
            font-size: 0.8rem;
            margin-bottom: 0.4rem;
            width: fit-content;
        }
    }

    .rightTopText {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        color: $text-color;

        p {
            margin-left: 0.5rem;
        }
    }

    .rightTop {
        position: absolute;
        top: 5%;
        right: 3%;
        transform: translateX(-3%);

        img {
            width: 94px;
            position: relative;
            right: 18px;
            margin-bottom: 1rem;
        }
    }

    .credit {
        width: fit-content;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-370px);

        p {
            display: flex;
            font-size: 1.5rem;
            align-items: center;
            letter-spacing: 0.15em;
            margin-left: 16px;
        }

        span {
            font-size: 1.2rem;
            letter-spacing: 0.1em;

            &::after {
                content: "";
                width: 1px;
                height: 38px;
                background-color: $text-color;
                display: inline-block;
                margin: 8px 0;
            }
        }
    }
}

.headerPC {
    max-width: 1232px;
    width: 90%;
    text-align: center;
    padding: 2rem 0;
    border-top: $text-color 1px solid;
    border-bottom: $text-color 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

    div {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    dt {
        color: $darkBeige;
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
    }

    dd {
        color: $text-color;
        font-weight: 400;
    }
}

.circleText {
    width: 20%;
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    mix-blend-mode: difference;
    animation: 8s linear infinite rotation1;
}

@keyframes rotation1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.subContents {
    margin-bottom: 10rem;

    a {
        position: relative;
        background-color: $gold ;
        padding: 32px;
        width: 604px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        color: $main-color;
        letter-spacing: 0.12em;


        span {
            font-size: 1.3rem;
            font-weight: 500;
        }

        .right-arrow {
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
        }

        p {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .border {
        display: block;
        padding: 36px;
        width: 98%;
        border: $text-color 1px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .triangle {
        background-color: $text-color;
        width: 12px;
        height: 12px;
    }

    .triangle_left-top {
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 0% 100%, 100% 0%);
    }

    .triangle_right-top {
        position: absolute;
        top: 0;
        right: 0;
        clip-path: polygon(0 0, 100% 100%, 100% 0%);
    }

    .triangle_left-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }

    .triangle_right-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        clip-path: polygon(0 100%, 100% 0%, 100% 100%);
    }
}

.introduction {
    text-align: center;
    position: relative;
    margin-bottom: 8rem;

    h2 {
        background-color: $text-color;
        color: $main-color;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    p {
        line-height: 2.5;
    }

    .bg {
        width: 100%;
        height: 700px;
        object-fit: cover;
        object-position: 0% 30%;
    }

    .text {
        position: absolute;
        top: 35%;
        left: 50%;
        z-index: 2;
        transform: translateX(-50%);
    }

    .heading {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50px;
    }
}

.story {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    .bg2 {
        opacity: 0;
        transition: 1s;
        animation: story 1s forwards ease;
    }

    @keyframes story {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    .storyImg {
        max-width: 600px;
        margin-bottom: 5rem;
        width: 45%;
        height: 750px;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .heading {
        transform: rotate(90deg) translate(50%, 50%);
        position: absolute;
        left: 25%;
        top: -18%;
        z-index: -1;
        width: 40%;
        animation: storyHeading 1.5s forwards ease;
    }

    .textgroup {
        text-align: center;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -250px;


        h2 {
            margin-bottom: 1rem;
            line-height: 1.6;
            font-size: 1.5rem;
        }

        p {
            line-height: 3;
        }
    }


}

@keyframes storyHeading {
    0% {
        left: 5%;
    }

    100% {
        left: 25%;
    }
}

.schedule {
    background: url(./images/aohige_schedule.jpg) no-repeat center/cover;
    display: flex;
    position: relative;

    .heading {
        margin-left: 10%;
        margin-bottom: 5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        &::before {
            content: "";
            width: 22px;
            height: 1px;
            background-color: $text-color;
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 8px;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 1.5;

        span {
            font-weight: 600;
        }
    }

    .caption {
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 1.8;
    }

    .scheduleText {
        margin-bottom: 8rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .scheduleGroup {
        margin-left: 8%;
        margin-top: 12rem;
    }

    .kagi {
        position: absolute;
        top: 0;
        right: 5%;

        display: flex;
        justify-content: flex-end;

        img {
            width: 30%;
            object-fit: cover;

            &:first-child {
                position: relative;
                left: 130px;
                top: 100px;
            }
        }
    }

}